<header>
    Page Header

    <% if( locals.user){%>
        <li>
            <a href="/users/profile"><%= user.name%></a>
            
        </li>
        <li>
            <a href="/users/sign-out">SignOut</a>
        </li>
    <%}else{%>

    <%}%>
</header>