
<h1>
    Codeial / <%= title %>
</h1>
<link rel="stylesheet" href="/css/post-style.css">
<div class="main-container">
    

    <section class = 'home-container'>
        
        <%if(locals.user){%>
            <h4>Post</h4>
            <form method="POST" action="/post/create" id="new-post-form">
                <textarea id="post-input" name="content" placeholder="Type here..." rows="5" cols="20" required></textarea>
                <input type="submit" value="Post">
            </form>
        <%}%>
        <div>
            <h1>Your feed</h1>
            <ul id="posts-list">
                <%- include('_posts')%>
            </ul>
        </div> 
    </section>

    <section class='friends-container'>
        <h1>Friends</h1>

        <% for( let user of  all_users){%>
            <li>
                <a href = /users/profile/<%=user._id%>><%= user.name%></a>
            </li>
        <%}%>
        
    </section>
    <script src="/js/home_posts.js"></script>
    <script src = "/js/post_comments.js"></script>
</div>